/* Color of the links BEFORE scroll */

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff;
}


/* Color of the links AFTER scroll */

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
    color: #fff;
}


/* Color of the navbar AFTER scroll */

.navbar-scroll,
.navbar-scrolled {
    background-color: #cbbcb1;
}

.mask-custom {
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.15);
}

.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 3px;
}

.container {
    padding-left: 50px;
}

#intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5fr 1fr 1fr 14fr;
    justify-items: center;
}

#titulo {
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 70px;
    border-radius: 15px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding-right: 10px;
    backdrop-filter: opacity(20%);
}

li:hover {
    border-bottom: 1px solid white;
}


/* div de informacion */

.container2 {
    /* margin: auto;
    margin-top: 15px;
    height: 800px; */
    height: 100vh;
    backdrop-filter: blur(1px);
    background-color: #5E976E;
}

.contenido {
    width: 90%;
    margin: auto;
}

.content-titulo {
    background: rgba(0, 154, 155);
    border-radius: 55px;
    display: flex;
}

.titulo2 {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: #eff3f8;
}

.subtitulo2 {
    color: #becde3;
}

hr {
    border-bottom: 4px solid #33b1ff;
}