/* Color of the links BEFORE scroll */

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff;
}


/* Color of the links AFTER scroll */

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
    color: #fff;
}


/* Color of the navbar AFTER scroll */

.navbar-scroll,
.navbar-scrolled {
    background-color: #cbbcb1;
}

.mask-custom {
    backdrop-filter: blur(9px);
    background-color: rgba(255, 255, 255, 0.15);
    transition: all 0.9s ease;
}

.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 3px;
}

.container {
    padding-left: 50px;
}

#intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5fr 1fr 1fr 14fr;
    justify-items: center;
}

#titulo {
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 70px;
    border-radius: 15px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding-right: 10px;
    backdrop-filter: opacity(20%);
}

li:hover {
    border-bottom: 1px solid white;
}


/* div de informacion */

.card {
    /* margin: auto;
    margin-top: 15px;
    height: 800px; */
    backdrop-filter: blur(1px);
    background-color: #fafafa;
    width: 90%;
    margin: auto;
    border: 0;
    padding-bottom: 135px;
}

.contenido {
    width: 90%;
    margin: auto;
}

.content-titulo {
    display: grid;
    margin-top: 7px;
}

.titulo2 {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 5px;
    font-size: 32px;
    color: #212529;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.subtitulo2 {
    color: #3f474e;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

hr {}

.cardHr {
    border-bottom: 4px solid #000000;
    width: 22%;
    opacity: 1;
    margin: 0;
    align-self: center;
    margin-bottom: 50px;
}

.fondo {
    background-color: #000000;
    transition: all 0.9s ease;
}

.letras {
    color: rgb(146, 146, 146) !important;
}

.contenedor {
    padding-top: 50px;
}

.escuela {
    width: 55%;
    align-self: center;
}

#institucion {
    height: 450px;
    background: linear-gradient(#000000ee, #3d3d3dcb), url('IMG_0203.jpg') center no-repeat;
    /* background-image: url('IMG_0203.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px); */
    border-radius: 15px;
}

#titulo2Institucion {
    color: white;
}

.subtitulo3 {
    color: rgb(158, 158, 158);
}

.contenido2 {
    width: 90%;
    margin: auto;
}

@media (max-width: 800px) {
    .mask-custom {
        backdrop-filter: blur(13px);
    }
}